* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

nav {
    height: 5em;
    width: 100%;
    background-color: white;
}

nav > a > img {
    height: 50%;
    background-color: #13DBB6;
    padding: 0.3em;
    border-radius: 50%;
    margin: 1em;
}

/*   */

main > #me {
    height: 30em;
    width: 90%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main > #me > article {
    height: 25em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

main > #me > article > img {
    height: 10em;
    width: 70%;
    border-radius: 50%;
}

main > #me > article > p {
    width: 80%;
    line-height: 1.2em;
}

main > #technologies {
    height: 20em;
    width: 90%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

main > #technologies > div {
    height: 5em;
    width: 100%;
    background-color: white;
    border-radius: 10%;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5em;
}

main > #technologies > div > img {
    height: 70%;

}

main > #languages {
    height: 60em;
    width: 90%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

main > #languages > .language-box {
    height: 5em;
    width: 100%;
    background-color: white;
    border-radius: 10%;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    line-height: 1.5em;
}

main > #languages > .language-box > div > img {
    height: 60%;
    margin-top: 1em;
}

main > #contact {
    height: 5em;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

main > #contact > a > img {
    height: 3em;
    width: 3em;
}

@media only screen and (min-width: 550px) {
    main > #me > article > img {
        width: 50%;
    }
}

@media only screen and (min-width: 740px) {
    main > #me > article > img {
        width: 30%;
        height: 60%;
    }

    main > #me > article > p {
        width: 50%;
        line-height: 1.2em;
    }

    main > #languages > .language-box {
        width: 50%;
    }
}

@media only screen and (min-width: 1250px) {
    main > #me > article > img {
        width: 30%;
        height: 60%;
    }

    main > #languages > .language-box {
        width: 50%;
    }
}

@media only screen and (min-width: 1400px) {
    nav {
        height: 7em;
    }

    main > #me > article > img {
        height: 70%;
        width: 20%;
    }

    main > #me > article > h1 {
        font-size: 30px;
    }

    main > #me > article > p {
        font-size: 23px;
    }

    main > #technologies {
        width: 50%;
    }

    main > #languages > .language-box > div > h4, p {
        font-size: 35px;
    }

    main > #languages > .language-box {
        height: 7em;
        line-height: 2em;
    }
}

main > #contact > h4 {
    font-size: 35px;
}