* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #06141B;
    color: white;
}

#desktop-version {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35em;
    text-align: center;
}

#container > section {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container > section > a {
    text-decoration: none;
    color: black;
}

#container > section > a > div {
    height: 5em;
    width: 5em;
    background-color: #CCD0CF;
    text-align: center;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#container > section > a > div > h2 {
    font-size: 18px;
}


/*  SECOND CONTAINER  */

#second-container {
    height: 200em;
    width: 100%;
    background-color: white;
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: column;
}


#second-container > nav {
    height: 4em;
    width: 100%;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-container > nav > img {
    height: 50%;
}

#second-container > nav > #desktop-version-nav {
    display: none;
}

#second-container > nav > #hidden-nav {
    height: 10em;
    width: 100%;
    position: absolute;
    top: 3.5em;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: none;
    animation-name: hidnav;
    animation-duration: 2s;
}

#second-container > nav > #hidden-nav > ul > li {
    margin: 1em;
    list-style: none;
    border: 1px solid black;
}

#second-container > nav > #hidden-nav > ul > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@keyframes hidnav {
    from {top: 2.5em};
}

/* MAIN  */

#second-container > main > #about {
    height: 30em;
    width: 100%;
    background-color: #06141B;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#second-container > main > #about > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #about > article > img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#second-container > main > #about > #me {
    text-align: center;
    width: 100%;
}

#second-container > main > #about > article > p {
    width: 100%;
}

#second-container > main > #about > #social {
    background-color: white;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#second-container > main > #about > #social > a > img {
    height: 2em;
}


/* LANGUAGES  */

#second-container > main > #languages {
    height: 30em;
    width: 100%;
    background-color: #06141B;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-container > main > #languages > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #languages > article {
    width: 100%;
    background-color: #4A5C6A;
    height: 20em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#second-container > main > #languages > article > .box-languages > div {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

#second-container > main > #languages > article > .box-languages {
    color: rgb(255, 255, 255);
    text-align: center;
}

#second-container > main > #languages > article > .box-languages > #brazil {
    background-image: url('/images/brazil-.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-container > main > #languages > article > .box-languages > #france {
    background-image: url('/images/france.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-container > main > #languages > article > .box-languages > #esperanto {
    background-image: url('/images/esperanto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-container > main > #languages > article > .box-languages > #english {
    background-image: url('/images/united-kingdom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* TECHNOLOGIES  */

#second-container > main > #technologies {
    height: 30em;
    width: 100%;
    background-color: #06141B;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#second-container > main > #technologies > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #technologies > article > .box-technologies {
    margin-bottom: 1em;
}

#second-container > main > #technologies > article > .box-technologies > div {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: white;
}

#second-container > main > #technologies > article > .box-technologies > #html {
    background-image: url('/images/html.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-container > main > #technologies > article > .box-technologies > #css {
    background-image: url('/images/css-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid white;
}

#second-container > main > #technologies > article > .box-technologies > #js {
    background-image: url('/images/js.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid white;
}


/* PROJECTS   */



#second-container > main > #projects {
    height: 90em;
    width: 100%;
    background-color: #06141B;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-container > main > #projects > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #projects > article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

#second-container > main > #projects > article > a > .box-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15em;
}

#second-container > main > #projects > article > a > .box-projects > img {
    height: 15em;
    border-radius: 10px;
}

#second-container > main > #projects > article > a > .box-projects > a > button {
    height: 3em;
    width: 5em;
    margin-top: 2em;
}


/* DESKTOP VERSION   */

#desktop-version {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#desktop-version > nav {
    height: 6em;
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

#desktop-version > nav > a > img {
    height: 3em;
    background-color: white;
}

#desktop-version > nav > a > #github {
    border-radius: 50%;
}

#desktop-version > header {
    height: 100vh;
    width: 100%;
    background-color: #06141B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#desktop-version > header > #introduction {
    display: flex;
    height: 10em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#desktop-version > header > #introduction > h3 {
    font-size: 20px;
}

#desktop-version > header > #introduction > a {
    text-decoration: none;
}

#desktop-version > header > #introduction > a > button {
    height: 4em;
    width: 15em;
    border-radius: 10px;
    border: none;
    background-color: #CCD0CF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktop-version > header > #introduction > a > button > p {
    font-size: 20px;
}

#desktop-version > header > #introduction > a > button > img {
    height: 1.5em;
    position: relative;
    left: 3em;
}

#desktop-version > header > #details {
    position: absolute;
    top: 8em;
    left: 3em;
    color: #B58863;
}

#desktop-version > header > #details > h2 {
    font-size: 18px;
}

#desktop-version > main {
    height: 200em;
    width: 100%;
    background-color: rgb(255, 14, 14);
}

#desktop-version > main > #desktop-intro {
    height: 50em;
    width: 100%;
    background-color: #06141B;
}

#desktop-version > main > #desktop-intro > .navegacao-desktop {
    height: 6em;
    width: 100%;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    display: flex;
    align-items: center;
}


#desktop-version > main > #desktop-intro > .navegacao-desktop > ul {
    display: flex;
    align-items: center;
    gap: 4em;
    position: relative;
    left: 1em;
    list-style: none;
}


#desktop-version > main > #desktop-intro > .navegacao-desktop > ul > li > a {
    text-decoration: none;
    color: white;
} 

#desktop-version > main > #desktop-intro > .navegacao-desktop > ul > .orange-detail {
    border-bottom: 3px solid orange;
    padding: 1em;
}

#desktop-version > main > #desktop-intro > .navegacao-desktop > ul > li > a > p {
    font-size: 20px;
}

#desktop-version > main > #desktop-intro > #image-and-description {
    height: 44em;
    width: 100%;
    background-color: #06141B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#desktop-version > main > #desktop-intro > #image-and-description > #photo {
    height: 30em;
    width: 30em;
    background-color: red;
    border-radius: 10px;
}

#desktop-version > main > #desktop-intro > #image-and-description > #description {
    height: 30em;
    width: 30em;
    background-color: #CCD0CF;
    border-radius: 10px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#desktop-version > main > #desktop-intro > #image-and-description > #description > p {
    font-size: 18px;
}

#desktop-version > main > #desktop-languages {
    height: 50em;
    width: 100%;
    background-color: #06141B;
}

#desktop-version > main > #desktop-languages > .navegacao-desktop {
    height: 6em;
    width: 100%;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    display: flex;
    align-items: center;
}

#desktop-version > main > #desktop-languages > .navegacao-desktop > ul {
    display: flex;
    align-items: center;
    gap: 4em;
    position: relative;
    left: 1em;
    list-style: none;
}


#desktop-version > main > #desktop-languages > .navegacao-desktop > ul > li > a {
    text-decoration: none;
    color: white;
} 

#desktop-version > main > #desktop-languages > .navegacao-desktop > ul > .orange-detail {
    border-bottom: 3px solid orange;
    padding: 1em;
}

#desktop-version > main > #desktop-languages > .navegacao-desktop > ul > li > a > p {
    font-size: 20px;
}

#desktop-version > main > #desktop-languages > article {
    height: 44em;
    width: 100%;
    background-color: #06141B;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

#desktop-version > main > #desktop-languages > article > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: white;
}

#desktop-version > main > #desktop-languages > article > section > p {
    font-size: 18px;
}

#desktop-version > main > #desktop-languages > article > section > .desktop-box-languages {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

#desktop-version > main > #desktop-languages > article > section > .brasil {
    background-image: url('/images/brazil-.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktop-version > main > #desktop-languages > article > section > .english {
    background-image: url('/images/united-kingdom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktop-version > main > #desktop-languages > article > section > .esperanto {
    background-image: url('/images/esperanto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktop-version > main > #desktop-languages > article > section > .frances {
    background-image: url('/images/france.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktop-version > main > #desktop-technologies {
    height: 50em;
    width: 100%;
    background-color: #06141B;
}

#desktop-version > main > #desktop-technologies > .navegacao-desktop {
    height: 6em;
    width: 100%;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    display: flex;
    align-items: center;
}

#desktop-version > main > #desktop-technologies > .navegacao-desktop > ul {
    display: flex;
    align-items: center;
    gap: 4em;
    position: relative;
    left: 1em;
    list-style: none;
}


#desktop-version > main > #desktop-technologies > .navegacao-desktop > ul > li > a {
    text-decoration: none;
    color: white;
} 

#desktop-version > main > #desktop-technologies > .navegacao-desktop > ul > .orange-detail {
    border-bottom: 3px solid orange;
    padding: 1em;
}

#desktop-version > main > #desktop-technologies > .navegacao-desktop > ul > li > a > p {
    font-size: 20px;
}

#desktop-version > main > #desktop-technologies > article {
    height: 44em;
    width: 100%;
    background-color: #06141B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
}

#desktop-version > main > #desktop-technologies > article > section > .desktop-box-technologies {
    height: 10em;
    width: 10em;
    background-color: #ffffff;
    border-radius: 50%;
}

#desktop-version > main > #desktop-technologies > article > section > .html {
    background-image: url('/images/html.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desktop-version > main > #desktop-technologies > article > section > .css {
    background-image: url('/images/css-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid white;
}

#desktop-version > main > #desktop-technologies > article > section > .javascript {
    background-image: url('/images/js.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid white;
}

#desktop-version > main > #desktop-projects {
    height: 50em;
    width: 100%;
    background-color: #06141B;
}

#desktop-version > main > #desktop-projects > .navegacao-desktop {
    height: 6em;
    width: 100%;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    display: flex;
    align-items: center;
}

#desktop-version > main > #desktop-projects > .navegacao-desktop > ul {
    display: flex;
    align-items: center;
    gap: 4em;
    position: relative;
    left: 1em;
    list-style: none;
}


#desktop-version > main > #desktop-projects > .navegacao-desktop > ul > li > a {
    text-decoration: none;
    color: white;
} 

#desktop-version > main > #desktop-projects > .navegacao-desktop > ul > .orange-detail {
    border-bottom: 3px solid orange;
    padding: 1em;
}

#desktop-version > main > #desktop-projects > .navegacao-desktop > ul > li > a > p {
    font-size: 20px;
}

#desktop-version > main > #desktop-projects > #boxes {
    background-color: white;
    height: 44em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

#desktop-version > main > #desktop-projects > #boxes > .desktop-box-projects {
    height: 20em;
    width: 20em;
    background-color: aqua;
    border-radius: 10px;
}


/* MEDIA QUERIES  */

@media only screen and (min-width: 320px) {
    #desktop-version {
        display: none;
    }
}

@media only screen and (min-width: 760px) {

    #second-container > nav > #list {
        display: none;
    }

    #second-container > nav > #hidden-nav {
        display: none;
    }

    #second-container > nav > #desktop-version-nav {
        display: flex;
        align-items: center;
        list-style: none;
    }

    #second-container > nav > #desktop-version-nav > li {
        margin-left: 1.5em;
    }

    #second-container > nav > #desktop-version-nav > li > a {
        text-decoration: none;
        color: black;
    }

    #second-container > main > #about > article {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #second-container > main > #about > article > p {
        width: 70%;
    }
    
}

@media only screen and (min-width: 1024px) {
    #container, #second-container {
        display: none;
    }

    #desktop-version {
        display: block;
    }
}
