* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #06141B;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35em;
    text-align: center;
}

#container > section {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container > section > a {
    text-decoration: none;
    color: black;
}

#container > section > a > div {
    height: 5em;
    width: 5em;
    background-color: #CCD0CF;
    text-align: center;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#container > section > a > div > h2 {
    font-size: 18px;
}

/*  SECOND CONTAINER  */

#second-container {
    height: 150em;
    width: 100%;
    background-color: white;
    position: relative;
    top: 5em;
}

#second-container > nav {
    height: 4em;
    width: 100%;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-container > nav > img {
    height: 50%;
}

#second-container > main > #about {
    height: 30em;
    width: 100%;
    background-color: #06141B;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#second-container > main > #about > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #about > article > img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

#second-container > main > #about > article > p {
    width: 95%;
}

#second-container > main > #languages {
    height: 30em;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-container > main > #languages > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #technologies {
    height: 30em;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-container > main > #technologies > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#second-container > main > #projects {
    height: 50em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#second-container > main > #projects > .title {
    background-color: #4A5C6A;
    width: 50%;
    height: 1.5em;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

