* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav {
    height: 5em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > img {
    height: 50%;
}

nav > h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 40em;
    width: 100%;
    display: none;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

header > a {
    text-decoration: none;
}

header > a > div {
    height: 10em;
    width: 10em;
    background-color: rgb(255, 255, 255);
    color: white;
    background-color: transparent;
    border: 3px solid rgb(22, 22, 22);
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header > a > div > img {
    height: 50%;
}

header > a > div > h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > a > div:hover {
    background-color: #13DBB6;
    transform: translate(20px, 40px);
    border-radius: 10%;
}

main {
    height: 70em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
    color: white;
}

main > h2 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

main > section > .box {
    height: 13em;
    width: 100%;
    background-color: #13DBB6;
    color: black;
    margin: 0 auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main > section > .box > section > img {
    width: 100%;
    border-radius: 5%;
}

main > section > .box > section > button {
    padding: 0.5em;
    border: none;
    border-radius: 5%;
}

main > section > .box > #hidden-detail-one {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    top: 14.3em;
    height: 13em;
    width: 100%;
    display: none;
}

#menu-nav {
    height: 24em;
    position: absolute;
    z-index: 1;
    width: 70%;
    left: 0;
    top: 5em;
    background-color: rgb(255, 255, 255);
    display: none;
}

#menu-nav > #about-me {
    border-bottom: 5px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#menu-nav > #about-me > img {
    height: 100px;
    border-radius: 50%;
}

#menu-nav > #about-me > section > a {
    text-decoration: none;
}

#menu-nav > #about-me > section > a > p {
    font-size: 10px;
    margin-top: 0.5em;
    background-color: #13DBB6;
    color: black;
    padding: 0.5em;
    border-radius: 10%;
}

#menu-nav > #skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#menu-nav > section > a {
    text-decoration: none;
    font-size: 12px;
}

#menu-nav > section > a > .box-details {
    height: 9em;
    width: 100%;
    background-color: #13DBB6;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu-nav > section > a > .box-details > img {
    height: 50%;
    width: 50%;
}

#menu-nav > section > a > .right {
    border-right: 5px solid black;
}

#menu-nav > section > a > .top {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#menu-nav > section > a > .side {
    border-right: 3px solid black;
}


@media only screen and (min-width: 767px) {
    #menu-nav > section > a > .box-details > img {
        height: 40%;
        width: 20%;
    }

    nav > img {
        cursor: pointer;
    }

    main > section > .box {
        width: 50%;
    }
}

@media only screen and (min-width: 1020px) {
    nav > img {
        display: none;
    }

    nav > h1 {
        font-size: 21px;
    }

    header {
        display: flex;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    header > a > div > img {
        height: 50%;
    }

    main > section > .box {
        height: 20em;
        width: 70%;
    }

    main > section > .box > section > a > button {
        display: none;
    }

    main > section > .box > section > p {
        display: none;
    }

    main > section > .box > section > h3 {
        display: none;
    }

    main > section > .box > section > img {
        height: 20em;
        width: auto;
    }
}

@media only screen and (min-width: 2500px) {
    body {
        width: 50%;
        margin: 0 auto;
    }

    nav > h1 {
        font-size: 30px;
    }

    header > a > div > h3 {
        font-size: 25px;
    }
    
    main > h2 {
        font-size: 25px;
    }
}