* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

nav {
    height: 5em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > img {
    height: 50%;
}

nav > h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    height: 70em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
    color: white;
}

main > h2 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

main > section > .box {
    height: 10em;
    width: 70%;
    background-color: #13DBB6;
    margin: 0 auto;
    border-radius: 5%;
}

#menu-nav {
    height: 24em;
    position: absolute;
    z-index: 1;
    width: 70%;
    left: 0;
    top: 5em;
    background-color: rgb(255, 255, 255);
    display: block;
    animation-name: nav;
    animation-duration: 2s;
}

#menu-nav > #about-me {
    border-bottom: 5px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#menu-nav > #about-me > img {
    height: 100px;
    border-radius: 50%;
}

#menu-nav > #about-me > section > a {
    text-decoration: none;
}

#menu-nav > #about-me > section > a > p {
    font-size: 10px;
    margin-top: 0.5em;
    background-color: #13DBB6;
    color: black;
    padding: 0.5em;
    border-radius: 10%;
}

#menu-nav > #skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#menu-nav > section > a {
    text-decoration: none;
    font-size: 12px;
}

#menu-nav > section > a > .box-details {
    height: 9em;
    width: 100%;
    background-color: #13DBB6;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu-nav > section > a > .box-details > img {
    height: 50%;
    width: 50%;
}

#menu-nav > section > a > .right {
    border-right: 5px solid black;
}

#menu-nav > section > a > .top {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#menu-nav > section > a > .side {
    border-right: 3px solid black;
}

@keyframes nav {
    from {top: 0; background-color: black;}
    to {background-color: white;}
}

@media only screen and (min-width: 767px) {
    #menu-nav > section > a > .box-details > img {
        height: 40%;
        width: 20%;
    }

    nav > img {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1439px) {
    
}