* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
}

/*

#container {
    height: 100%;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#container > h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation-name: title;
    animation-duration: 3s;
}

#container > form > button {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: #13DBB6;
    border: none;
    color: black;
    font-weight: bold;
    animation-name: btt;
    animation-duration: 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

@keyframes btt {
    from {height: 0.5em; background-color: rgb(0, 0, 0);}
    to {display: block;}
}

@keyframes title {
    from {color: black;}
    to {color: white;}
}

*/

#desktop-version {
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#desktop-version > nav {
    height: 5em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#desktop-version > nav > a > img {
    width: 10%;
    height: 20%;
}

#desktop-version > article {
    height: 50em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktop-version > article > a {
    text-decoration: none;
}

#desktop-version > article > a > #figura {
    height: 25em;
    width: 25em;
    border: 15px solid #13DBB6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

#desktop-version > article > a > #figura:hover {
    border: 30px solid #13DBB6;
    transform: translate(10px, 10px);
}

#desktop-version > article > a > #figura > h2 {
    font-size: 40px;
    text-transform: uppercase;
    display: none;
    color: white;
    animation-duration: 2s;
    animation-name: word;
}

#desktop-version > #meusDados {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 2em;
    line-height: 1.9em;
    height: 10em;
}

#desktop-version > #meusDados > h2 {
    font-size: 15px;
}

#desktop-version > #meusDados > h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #13DBB6;
}

@keyframes word {
    from {color: black;}
}




@media only screen and (min-width: 1024px) {
    
}

/*
#796C75
objeto interativo: #13DBB6

#13DBB6
*/